registry=https://repo.test.netflix.net/artifactory/api/npm/npm-netflix
always-auth=true
email=artifactoryadmins@netflix.com
@nrdp:registry=http://npm.dta.netflix.com
@dta:registry=http://npm.dta.netflix.com
