registry=http://artifacts.netflix.com/api/npm/npm-netflix
always-auth=true
prefix=${HOME}/.config/mutable_node_modules
@nrdp:registry=http://npm.dta.netflix.com
@dta:registry=http://npm.dta.netflix.com
@kaiju:registry=https://artifacts.netflix.com/api/npm/npm-netflix
@tvuiops:registry=https://artifacts.netflix.com/api/npm/npm-netflix
