.3T/
.CFUserTextEncoding
.Trash/
.Xauthority
.android/
.bash_history
.cache/
.cargo/
.config/
.cups/
.dbshell
.devicetests_tmp/
.docker/
.eclipse/
.gem/
.gibbon_history
.gitflow_export
.gitignore_global
.gradle/
.hgignore_global
.idfile
.iterm2/
.iterm2_shell_integration.zsh
.lesshst
.local/
.m2/
.metatron/
.mongorc.js
.mplayer/
.newt-cache/
.node-gyp/
.node_path
.node_repl_history
.npm/
.nvm/
.oh-my-zsh/
.old_bash_profile
.p10k.zsh.bak
.p2/
.pex/
.profile
.pvm/
.pvmrc
.pylint.d/
.python_history
.redhat/
.rustup/
.sdkman/
.shell.pre-oh-my-zsh
.sonarlint/
.ssh/
.stCommitMsg
.subversion/
.tcm_staging.json.swp
.tooling/
.tox/
.vagrant.d/
.vim/
.viminfo
.vscode/
.wakatime-internal.cfg
.wakatime.bdb
.wakatime.db
.wakatime.log
.wakatime/
.wget-hsts
.yarn/
.zcompdump
.zcompdump-agelter-macbook-5.3
.zcompdump-agelter-macbook-5.7.1
.zcompdump-agelter-macbook-5.8
.zsh_history
.zsh_sessions/
.zshrc.pre-oh-my-zsh
.zshrc.zwc
.zshrc_template
Applications/
Desktop/
Documents/
Downloads/
Google*
Library/
Movies/
Music/
Pictures/
Public/
Virtual*
bin/
biome
eclipse-workspace/
ivy2-local/
locked_down_dir/
ntscli
ntscli-dev
package-lock.json
prod.json
prod_sorted.json
src/
staging.json
staging_sorted.json
test_ntscli
test_plan_cmp/
